/*body {
    background-color: #2E8A99
}*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    border: 2px solid red;
    width: 75%;
}

nav {
    margin: 0 auto;
    border: 2px solid red;
}

.nav-logo {
    margin: 0 0 0 65px;
    object-fit: contain;
    padding-bottom: 10px;
    border: 2px solid red;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #2E8A99;
    border-radius: 20px;
    border: 2px solid black;
}

nav ul li {
    list-style: none;
    padding: 10px 70px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* The cto section*/

.call-to-action-section {
    color: white;
    background-color: #2E8A99;
    border: 2px solid red;
    margin: 90px auto;
    width: 98%;
    padding: 8px;
    border-radius: 5px;

}

.cards-columns {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
}

.cards-columns p {
    padding: 0 5px;
}

/*https://github.com/PhathizweGwebu/meta-project.git*/